<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>The Anh</title>       
        <!--trên head nên cần th:block-->
    <th:block th:replace="base :: styles"></th:block>

</head>
<body>

    <div th:replace="base :: header"></div>



    <!--Content - Product-->
    <section class="container">
        <form th:action="@{/}">
            <div class="mb-3 mt-3">

                <input type="text" class="form-control" placeholder="Từ khóa..." name="kw">
            </div>
            <div class="row">
                <div class="col-6 mb-3 mt-3">
                    <input type="number" class="form-control" placeholder="Gía min..." name="fromPrice">
                </div>
                <div class="col-6 mb-3 mt-3">
                    <input type="number" class="form-control" placeholder="Gía max..." name="toPrice">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
        <hr />
        <a th:href="@{/products}" class="btn btn-success mt-1">Thêm sản phẩm</a>
        <div class="container mt-3">
            <h2>Bảng thống kê sản phẩm</h2>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr >
                        <th>Id</th>
                        <th>Tên sản phẩm</th>
                        <th>Gía</th>

                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="product : ${products}">

                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price + 'VNĐ' }"></td>
                        <td>
                            <img style="width: 200px ; height: 150px" th:src="${product.image}" alt="Hình sản phẩm">
                        </td>
                        <td>
                            <button class="btn btn-danger" th:onclick="'deleteProduct(\''+@{/api/products}+'\',' +${product.id} + ')'">&times;</button>
                            <a th:href="@{'/products/' + ${product.id}}" class="btn btn-info">&#128296;</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>
        <ul class="pagination d-flex justify-content-center">
            <th:block th:each="i : ${#numbers.sequence(1, counter)}">
                <li class="page-item" th:classappend="${i == currentPage} ? 'active'">
                    <a class="page-link" th:text="${i}" th:href="@{/(page=${i}, kw=${param.kw}, fromPrice=${param.fromPrice}, toPrice=${param.toPrice})}"></a>

                </li>
            </th:block>
        </ul>

    </section>


<!--tên file html :: tên fragment-->
    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
